﻿@model EstimateViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table">
        <thead>
        <tr>
            <th>映画</th>
            <th>泊数</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var rental in Model.Customer.Rentals)
        {
            <tr>
                <td>@rental.Name</td>
                <td>@rental.DaysRented</td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                @Model.Customer.Statement()
            </td>
        </tr>
        </tfoot>
    </table>
    
    
    <form method="post" asp-action="Index">
        <select asp-for="SelectedMovieId" asp-items="@(Model.Movies)" class="form-control"></select>
        <input asp-for="DaysRented" class="form-control">
        <button class="btn btn-success" type="submit">追加</button>
    </form>
</div>